.button{
	background-color: silver;
	background-size: 50%;
}
.label
{
	font-style: bold;
	text-decoration-color: blue;
	text-transform: dashed;
}
.mytag
{
	background-color: silver;
}
.yui3-button {
    margin:10px 0px 10px 0px;
    color: #fff;
    background-color: #3476b7;

 }
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }